<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>


    <title>{% block title %} {% endblock %}</title>

</head>
<body>

<div class="container mt-3">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top navbar-custom">
        <a class="navbar-brand">In da Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-center">
                {% block nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_feed' %}">News feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'communities' %}">Communities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_post' %}">Create a post</a>
                </li>
            </ul>
            {% endblock %}
        </div>
        <ul class="navbar-nav navbar-right-calendar">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'calendar' view='month' community='None' priority='None' start_date='None' end_date='None' %}"><i class="far fa-calendar-alt" style="font-size: 30px"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right-door">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-door-open"
                                                                 style="font-size: 30px"></i></a>
            </li>
        </ul>
    </nav>
</div>
<br>


<section id="content">
    {% block content %} {% endblock %}
</section>
</body>
</html>