<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>{% block title %} {% endblock %}</title>

</head>
<body>

<div class="container mt-3">
    <!-- Nav tabs -->
    {% block nav %}
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news_feed' %}">News feed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'communities' %}">Communities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new_post' %}">Create a post</a>
        </li>
    </ul>
</div>
{% endblock %}
</div>


<section id="content">
    {% block content %} {% endblock %}
</section>
</body>
</html>