<div class="clearfix">
    <form method="post" action="{% url 'news_feed' %}">
        {% csrf_token %}
        <div class="clearfix">
            <div class="form-row float-right">
                <div class="col-auto">
                    <label class="form-control" for="inlineFormInputGroup" style="border:none">Search in posts : </label>
                </div>
                <div class="col-auto">
                      <div class="input-group">
                          <input type="text" class="form-control" id="inlineFormInputGroup" name="query">
                      </div>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="submit" value="Submit" style="background-color:rgb(239,239,239); border-color:grey; border-width: thin;"/>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="float-right">
                <nav class="advancedsearch">
                    <ul>
                        <!-- Début du menu déroulant -->
                        <li><div>Advanced search <i class='fas fa-angle-down' style="font-size:20px;"></i></div>
                            <ul>
                                <li><p>Where do you want to search it ?</p></li>
                                <li><input type="checkbox" class="a" id="id_titles" name="titles"/><label for="id_titles">Posts' titles</label></li>
                                <li><input type="checkbox" class="a" id="id_descriptions" name="descriptions"/><label for="id_titles">Posts' descriptions</label></li>
                                <li><input type="checkbox" class="a" id="id_usernames" name="usernames"/><label for="id_titles">Posts' usernames</label></li>
                                <li><input type="checkbox" class="a" id="id_comments" name="comments"/><label for="id_comments">Posts' comments</label></li>
                                <li><input type="checkbox" class="a" id="id_communities" name="communities"/><label for="id_communities">Only the communities you subscribed to</label></li>
                                <li><label>Date of the event</label></li>
                                <li><label for="id_date_event_min">min</label><input class="float-right" type="date" class="" id="id_date_event_min" name="date_event_min"/></li>
                                <li><label for="id_date_event_max">max</label><input class="float-right" type="date" class="" id="id_date_event_max" name="date_event_max"/></li>
                                <li><label>Date of creation</label></li>
                                <li><label for="id_date_creation_min">min</label><input class="float-right" type="date" class="" id="id_date_creation_min" name="date_creation_min"/></li>
                                <li><label for="id_date_creation_max">max</label><input class="float-right" type="date" class="" id="id_date_creation_max" name="date_creation_max"/></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
</div>

