.communities_jumbo {
    padding: 10% 5% 3%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-right {
    position: absolute;
    left: 90%;
    transform: translatex(-90%);
}

.navbar-nav.navbar-right-door {
            position: absolute;
            left: 90%;
            transform: translatex(-90%);
        }

.navbar-nav.navbar-right-calendar {
            position: absolute;
            left: 5%;
            transform: translatex(-5%);
        }

.border-title {
    padding-top: 3%;
}

.navbar-custom .navbar-text{
    color: cornflowerblue;
    font-weight: bold;
}

.advancedsearch li {
    list-style: none !important;
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.advancedsearch ul {
    list-style: none !important;
    background-color: lightsteelblue;
    padding: 0;
    margin: 0;
}

.advancedsearch ul li {
    list-style: none;
    line-height: 30px;
    float: left;
    background-color: lightsteelblue;
}

.advancedsearch ul li ul {
    display: none;
}

/* Rend le menu déroulant caché par défaut */
.advancedsearch ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index: 99999;
    display: list-item !important;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
}

.advancedsearch ul li:hover ul li {
    float: none;
    font-size: 15px;
    padding: 0px 10px;
    line-height: 20px;
}

li {
    list-style:none !important;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
nav ul {
    background-color:#64abfb;
    padding:0;
    margin:0;
}
nav ul li {
    list-style: none;
    line-height:44px;
    float:left;
    background-color:#64abfb;
}
nav ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}
li a:hover {
    border-bottom:3px #FFF solid;
}
nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
}
nav ul li:hover ul li {
    float:none;
}

#contcalendar{

width:75%;
margin-top:100px;
border:1px ridge #aaa;
border-radius:3%;
}

#contcalendar table{

text-align:center;
font-size:12px;
font-weight:bold;
line-height:20px;

}


