.communities_jumbo {
    padding: 10% 5% 3%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }

.navbar-nav.navbar-right {
            position: absolute;
            left: 90%;
            transform: translatex(-90%);
        }

.border-title {
    padding-top: 3%;
}

.navbar-custom .navbar-text{
    color: cornflowerblue;
    font-weight: bold;
}

