#communities_jumbo {
    padding-top:3%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}