.communities_jumbo {
    padding: 10% 5% 3%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.navbar-nav.navbar-center {
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
        }
.border-title {
    padding-top: 10px;
}

.active-nav {
    color: red;
}