<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Déconnexion</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<div class="jumbotron jumbotron-fluid" style="padding-bottom:1%; padding-top: 2%">
    <div class="container">
        <h1>In Da Club</h1>
        <p>a nice app to forge communities: communities, with passion</p>
    </div>
</div>

<div class="container">
    <div class="jumbotron" style="margin-top:10%; width:40%; margin-left:30%; text-align: center">

        <h1> You are disconnected</h1>
        <p> Thank you for your visit ! Bye !</p>

        <p><a href="{% url 'login' %}">If you want to login again</a></p>
    </div>
</div>
</body>
</html>