<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="5;URL={% url 'communities' %}">
    {% endif %}
</head>
<body>

<div class="jumbotron jumbotron-fluid" style="padding-bottom:1%; padding-top: 2%">
    <div class="container">
        <h1>In Da Club</h1>
        <p>a nice app to forge communities: communities, with passion</p>
    </div>
</div>

<div class="container">
    <div class="jumbotron" style="margin-top:10%; width:40%; margin-left:30%; text-align: center">

        {% if user.is_authenticated %}
        <h1> you are already connected, you will be redirected to the community pages</h1>
        {% else %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1>Enter your username and your password</h1>
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        {% endif %}
    </div>
    {% if form.errors %}
    <p style="text-align: center; color: dodgerblue">Your username and password didn't match. Please try again.</p>
    {% endif %}
</div>

</body>
</html>

