{% extends 'base.html' %}
{% load static %}

{% block title %} Calendar {% endblock %}
{% block nav %}
    {% include 'nav/link_news_feed.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="clearfix">
        {% if showcolor == 1%}
        <button type="button" class="btn btn-primary active" data-toggle="collapse"
                data-target="#form">Advanced Research
        </button>
        {% else %}
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#form">Advanced Research
        </button>
        {% endif %}
        <a class="btn btn-primary" role="button"
           href="{%url 'calendar_form' view=view month=month community='None' priority='None' start_date='None' end_date='None' %}">Reset</a>
        {% if show == 1%}
        <div id="form" class="collapse show">
            {% else %}
            <div id="form" class="collapse">
                {% endif %}
                <form method="post"
                      action="{%url 'calendar_form' view=view month=month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}"
                      id=calendar_form" class="needs-validation">
                    <ul>
                        <!-- Début du menu déroulant -->
                        {% csrf_token %}
                        {# Community #}
                        <li><label for="id_community">Community :</label>
                            <select class="form-control" id="id_community" name="community" multiple>
                                {% for commu in user_community %}
                                {% if commu in community_form and all_community == 0 %}
                                <option value={{commu.id}} selected>{{commu}}</option>
                                {% else %}
                                <option value={{commu.id}}>{{commu}}</option>
                                {% endif %}
                                {% endfor %}
                            </select></li>
                        <li>{# Priority #}
                            <label for="id_priority">Priority :</label>
                            <select class="form-control" id="id_priority" name="priority" multiple>
                                {% for priority in priorities %}
                                {% if priority in priority_form and all_priority == 0 %}
                                <option value="{{priority.id}}" selected>{{priority}}</option>
                                {% else %}
                                <option value="{{priority.id}}">{{priority}}</option>
                                {% endif %}}
                                {% endfor %}
                            </select></li>
                        <li>{# Date #}
                            <label for="id_start_date">Start Date</label>
                            <input type="date" class="" id="id_start_date" name="start_date"
                                   value="{{start_date_url}}"/>
                            <label for="id_end_date">End Date </label>
                            <input type="date" class="" id="id_end_date" name="end_date"
                                   value="{{end_date_url}}"/>
                        </li>
                        <input type="submit" value="Submit">
                    </ul>
                    </nav>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    {% if viewbtn == 0 %}
    <div class="clearfix">
        <a class="btn btn-primary right"
           href="{%url 'calendar_form' view='month' month=next_month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
            <i class='fas fa-angle-right' style='font-size:20px'></i></a>
        <a class="btn btn-primary right"
           href="{%url 'calendar_form' view='month' month=prev_month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
            <i class='fas fa-angle-left' style='font-size:20px'></i></a>
        <a class="btn btn-primary right"
           href="{%url 'calendar_form' view='month' month=today community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
            Today </a>

        <di class="center">
            <a class="btn btn-primary"
               href="{%url 'calendar_form' view='week' month=month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
                week </a>
            <a class="btn btn-primary active"
               href="{%url 'calendar_form' view='month' month=month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
                month </a>
        </di>
    </div>
    {% else %}
    <div class="clearfix">
        <a class="btn btn-primary right"
           href="{%url 'calendar_form' view=nextweek month=next_month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
            <i class='fas fa-angle-right' style='font-size:20px'></i></a>
        <a class="btn btn-primary right"
           href="{%url 'calendar_form' view=prevweek month=prev_month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
            <i class='fas fa-angle-left' style='font-size:20px'></i></a>
        <a class="btn btn-primary right"
           href="{%url 'calendar_form' view=view month=today community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
            Today </a>
        <div class="center">
            <a class="btn btn-primary active"
               href="{%url 'calendar_form' view='week' month=month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
                week </a>
            <a class="btn btn-primary"
               href="{%url 'calendar_form' view='month' month=month community=community_url priority=priority_url start_date=start_date_url end_date=end_date_url %}">
                month </a>
        </div>
    </div>
    {% endif %}
</div>

<div class="container" id="calendar">
    {{ cal }}
</div>

<link rel="stylesheet" href="{% static 'css/calendar.css' %}"/>
{% endblock %}