<!-- Template of the page displaying every community and giving the user the possibility to follow or unfollow them -->
{% extends 'base.html' %}

{% block title %}Communities{% endblock %}

{% block nav %}
    {% include 'nav/link_news_feed.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}

{% block logout %}{% include 'nav/logout.html' %}{% endblock %}

{% block top %}Communities{% endblock %}

{% block content %}
    <a href= {% url 'community_creation' %}> Create a new community </a>
    <div class="row justify-content-center">
        {% for community in community_user %}
            {% if community.is_visible or request.user.is_superuser %}
                {% include 'utility/community_disp.html' %}
            {% endif %}
        {% endfor %}
        {% for community in community_list %}
            {% if community not in community_user %}
                {% if community.is_visible or request.user.is_superuser %}
                    {% include 'utility/community_disp.html' %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}