<!DOCTYPE html>

<head>
</head>
<body>

<h1>My subscriptions</h1>

<h2>{{one_community.name}}'s post</h2>

<table style="width:60%; margin:auto; padding: 2%">

  <tr>
    <th>title</th>
    <th>Description</th>
    <th>Creation Date</th>
    <th>Modifications</th>
  </tr>

{% for post in posts %}
    <tr>
        <td>{{ post.title}}</td>
        <td> {{post.description}} + visualiser le détail du post</td>
        <td>{{post.date_creation}}</td>
        <td> plus tard </td>
    </tr>
{% endfor %}

</table>
</body>
</html>