<!-- Template of the page displaying every community and giving the user the possibility to follow or unfollow them -->
{% extends 'base.html' %}

{% block title %}Communities{% endblock %}

{% block nav %}
    {% include 'nav/link_news_feed.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}

{% block logout %}{% include 'nav/logout.html' %}{% endblock %}

{% block top %}Communities{% endblock %}

{% block content %}
    {% for community in community_user %}
        {% include 'utility/community_disp.html' %}
    {% endfor %}
    {% for community in community_list %}
        {% if community not in community_user %}
            {% include 'utility/community_disp.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}