<!-- Template that displays every post relative to a community -->
{% extends 'base.html' %}

{% block title %}{{ community }}{% endblock %}

{% block nav %}
    {% include 'nav/link_news_feed.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}

{% block logout %}{% include 'nav/logout.html' %}{% endblock %}

{% block top %}{{ one_community }}{% endblock %}

{% block content %}
    <form class="row row-cols-lg-auto g-3 align-items-center mb-4" method="POST"
          action="{% url 'community' community_id=one_community.id %}">
        {% include 'forms/priority_filter.html' %}
        {% include 'forms/event_filter.html' %}
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-10">
            {% if posts_user %}
                {% for one_post in posts_user %}
                    <div {% if one_post.priority.name == "red" %}
                        class="row g-0 border border-danger border-left-0 border-bottom-0 flex-md-row mb-5 h-md-250"
                    {% elif one_post.priority.name == "orange" %}
                        class="row g-0 border border-warning border-left-0 border-bottom-0 flex-md-row mb-5 h-md-250"
                    {% else %}
                        class="row g-0 border border-left-0 border-bottom-0 flex-md-row mb-5 h-md-250"
                    {% endif %}
                    >
                        <div class="col ml-6">
                            <div class="row justify-content-between">
                                <h1 class="display-5 text-dark ml-4 mt-3">
                                    <strong><a href="{% url 'post' one_post.id %}" class="text-dark">{{ one_post }}</a></strong>
                                </h1>
                                <h3 class="display-5 text-dark mr-4 mt-3">
                                    {% include 'utility/post_status.html' %}
                                </h3>
                            </div>
                            {% include 'utility/post_details.html' %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3> No post to display...</h3>
            {% endif %}
        </div>
        <div class="col-md-2">
            {% include "nav/link_new_post.html" %}
        </div>
    </div>



{% endblock %}
