{% extends 'base.html' %}
{% block title %} Create a post {% endblock %}

{% block content %}
<div class="container">
    <h1 class="border-title">Change a post</h1>
    {% if date %}
    <div class="toast" data-autohide="false" style="position: absolute; top: 10%; right: 2%;">
        <div class="toast-header">
            <strong class="mr-auto text-primary"> WARNING !</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            If you check the event box, you have to put a date !
        </div>
    </div>
    {% endif %}
    <form method="post" id="post_form" class="needs-validation">
        <div class="form-group">
            {% csrf_token %}
            {# Community #}
            <label for="id_community">Community :</label>
            <select class="form-control" id="id_community" name="community" required>
                <option value={{one_post.community.id}}>{{one_post.community}}</option>
                {% for commu in user_community %}
                {% if commu.id != one_post.community.id %}
                <option value={{commu.id}}>{{commu}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            {# Title #}
            <label for="id_title">Title:</label>
            <input type="text" class="form-control" name="title" id="id_title" value="{{one_post.title}}" required/>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            {# Description #}
            <label for="id_description">Description:</label>
            <textarea class="form-control" rows="5" id="id_description"
                      name="description">{{one_post.description}}</textarea>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
            {# Event #}
            {% if one_post.event == True %}
            <label for="id_event">Is it an event ?:</label>
            <input type="checkbox" class="a" id="id_event" name="event" checked/>
            <br>
            <label for="id_date_event">Date of the event</label>
            <input type="datetime-local" class="" id="id_date_event" name="date_event" value="{{date_time}}"/>
            <br>
            {% else %}
            <label for="id_event">Is it an event ?:</label>
            <input type="checkbox" class="a" id="id_event" name="event"/>
            <br>
            <label for="id_date_event">Date of the event</label>
            <input type="datetime-local" class="" id="id_date_event" name="date_event"/>
            <br>
            {% endif %}
            {# Priority #}
            <label for="id_priority">Priority :</label>
            <select class="form-control" id="id_priority" name="priority" required>
                <option value={{one_post.priority.id}}>{{one_post.priority}}</option>
                {% for priority in priorities %}
                {% if priority.id != one_post.priority.id %}
                <option value="{{priority.id}}">{{priority}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <br>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

{# script to make the toast pop-up #}
<script>
    $(document).ready(function () {
        $('.toast').toast('show');
    });
</script>

{% endblock %}