{% extends 'base.html' %}
{% block title %} Create a post {% endblock %}

{% block nav %}
    {% include 'nav/link_news_feed.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}

{% block logout %}{% include 'nav/logout.html' %}{% endblock %}
{% block top %}        <h1 class="border-title">add a post</h1>{% endblock %}
{% block content %}
    <div class="container">


        <form method="post" action="{% url 'new_post' %}" id="post_form" class="needs-validation">
            <div class="form-group">
                {% csrf_token %}
                {# Community #}
                <label for="id_community">Community :</label>
                <select class="form-control" id="id_community" name="community" required>
                    <option></option>
                    {% for commu in user_community %}
                        <option value={{ commu.id }}>{{ commu }}</option>
                    {% endfor %}
                </select>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                {# Title #}
                <label for="id_title">Title:</label>
                <input type="text" class="form-control" name="title" id="id_title" placeholder="Enter the Title"
                       required/>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                {# Description #}
                <label for="id_description">Description:</label>
                <textarea class="form-control" rows="5" id="id_description" name="description" required></textarea>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
                {# Event #}
                <label for="id_event">Is it an event ?:</label>
                <input type="checkbox" class="a" id="id_event" name="event"/>
                <br>
                <label for="id_date_event">Date of the event</label>
                <input type="datetime-local" class="" id="id_date_event" name="date_event"/>
                <br>
                {# Priority #}
                <label for="id_priority">Priority :</label>
                <select class="form-control" id="id_priority" name="priority" required>
                    {% for priority in priorities %}
                        <option value="{{ priority.id }}">{{ priority }}</option>
                    {% endfor %}
                </select>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
                <br>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}