{% extends 'base.html' %}
{% block title %} Newsfeed {% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link active-nav" href="{% url 'news_feed' %}">News feed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'communities' %}">Communities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'new_post' %}">Create a post</a>
    </li>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>My subscriptions</h1>
    <div class="jumbotron jumbotron-fluid" id="communities_jumbo">
        <table class="table">
            {% for one_post in posts_user %}
            <tr>
                <td>{{ community_user.name}}</td>
                <td>{{ one_post.title}}</td>
                <td> {{one_post.description}} + visualiser le détail du post</td>
                <td>{{one_post.date_creation}}</td>
                <td> plus tard</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}