<!-- Template of the homepage where are displayed every posts of the communities the user follows -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block nav %}
    {% include 'nav/link_home.html' %}
    {% include 'nav/link_communities.html' %}
{% endblock %}
{% block logout %}{% include 'nav/logout.html' %}{% endblock %}

{% block top %}Home{% endblock %}

{% block content %}
    <form class="row row-cols-lg-auto g-3 align-items-center mt-3 mb-3" method="POST" action="{% url 'news_feed' %}">

        {% include 'forms/post_search.html' %}
        {% include 'forms/priority_filter.html' %}
        {% include 'forms/event_filter.html' %}


        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-10">
            {% if posts_user %}
                <h1 class="display-5"> Welcome <strong>{{ user.username }}</strong>, here are all the posts of your
                    favourite communities </h1>
                {% for one_post in posts_user %}
                    {# Affiche le poste seulement s'il est visible et que l'utilisateur n'est pas superuser / manager #}
                    {% if one_post.is_visible or request.user.is_superuser or user == one_post.community.manager %}
                        <div {% if one_post.priority.name == "red" %}
                            class="row g-0 border border-danger border-left-0 border-bottom-0 flex-md-row mb-5 h-md-250"
                        {% elif one_post.priority.name == "orange" %}
                            class="row g-0 border border-warning border-left-0 border-bottom-0 flex-md-row mb-5 h-md-250"
                        {% else %}
                            class="row g-0 border border-left-0 border-bottom-0 flex-md-row mb-5 h-md-250"
                        {% endif %}
                        >
                            <div class="col ml-6">
                                <div class="row justify-content-between">
                                    <h2 class="display-6 text-dark ml-4 mt-3">
                                        <strong><a href="{% url 'post' one_post.id %}"
                                                {% if one_post.warning %}
                                                   class="text-danger">
                                                {% else %}
                                                    class="text-dark">
                                                {% endif %}
                                        {{ one_post }}</a></strong>
                                        in <a href="{% url 'community' one_post.community.id %}"
                                              class="text-dark">{{ one_post.community }}</a>

                                    </h2>

                                    <h3 class="display-5 text-dark mr-4 mt-3">
                                        {% include 'utility/post_like.html' %}
                                    </h3>

                                </div>
                                {% include 'utility/post_details.html' %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h4 class="display-4"> Welcome <strong>{{ user.username }}</strong>, subscribe to communities to see
                    posts here ! </h4>
            {% endif %}
        </div>
        {% include "nav/link_new_post.html" %}
    </div>

{% endblock %}