{% extends 'base.html' %}
{% block title %} {{ one_post.title}} {% endblock %}

{% block content %}
<div class="container">
    <h1 class="border-title">{{one_post.title}}</h1>
    <div class="jumbotron jumbotron-fluid" id="communities_jumbo">
        <table class="table">
            <tbody>
            <tr class="center">
                <td class="left">{{ one_post.title}}</td>
                <td class="center"> {{one_post.description}}</td>

                {% if one_post.event == True %}
                <td class="center">{{one_post.date_creation}}</td>
                <td class = "right"> date of the event :<br> {{one_post.date_event}}</td>
                {% else %}
                <td class="right">{{one_post.date_creation}}</td>
                {% endif %}
            </tr>
        </table>
    </div>
    <h3 class="left">Comments</h3>
    <table class="table">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_content">Comment:</label>
                <textarea class="form-control" rows="5" id="id_content" name="content"></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
        {% for comment in commentaries %}
        <tr>
            <td class="left">{{ comment.author}}</td>
            <td class="center"> {{comment.content}}</td>
            <td class="right">{{comment.date_creation}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}